/* Global style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
.font-inter{
    font-family: "Inter", sans-serif;
}

.text-white{
    color: #fff;
}
.text-semi-gray{
    color: rgba(255, 255, 255, 0.65);
}
.text-gray{
    color: rgba(255, 255, 255, 0.5);
}

header{
    background: #000000;
}

/*------------- Navigation section style-------------- */
header{
    height: 100vh;
    overflow: hidden;
}
.nav-section{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    align-items: center;
    padding: 10px 0;
}
.left-nav a{
    color: #E6533C;
    text-decoration: none;
    font-weight:800;
}
.right-nav ul{
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 15px;
    border-radius: 40px;
}
.right-nav ul li{
    list-style-type: none;
    display: inline-block;
    
}
.right-nav ul li a{
    text-decoration: none;
    font-size: 0.9rem;
    color: #fff;
    margin-right: 10px;
    padding: 7px 20px;
}
.right-nav ul li a:hover{
    background: #E6533C;
    border-radius: 45px;
    transition: 0.3s;
}

/* ------------Hero Section Design----------------- */
.hero-section{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hero-description{
    flex-basis: 50%;
}
.hero-image{
    flex-basis: 50%;
    position: relative;
}
.hero-image img{
    height: 90vh;
    float: right;
    margin-right: 60px;
}
.hero-txt-box h1{
    font-size: 4.2rem;
    line-height: 100%;
    letter-spacing: 3px;

}
.hero-txt-box p{
    margin: 20px 0;
    letter-spacing: 1px;

}
#txt-miama{
    font-family: 'Miama', sans-serif;
    font-size: 6rem;
    font-weight: 500;
}
.hero-btn button{
    padding: 14px 42px;
    background: transparent;
    color: #fff;
    border-radius: 40px;
    border: 1px solid #fff;
    cursor: pointer;
    font-size: .9rem;
    
}
.hero-btn button:nth-child(2){
    margin-left: 10px;
}
.hero-btn button:hover{
    background: #E6533C;
    border: 1px solid transparent;
    transition: 0.2s;
}
.hero-card1{
    position: absolute;
    right: 300px;
    backdrop-filter: blur(10px);
    background: rgba(173, 173, 173, 0.2);
    border-radius: 13px;
    bottom: 50px;
}
.hero-card2{
    position: absolute;
    top: 130px;
    right: -50px;
    backdrop-filter: blur(10px);
    background: rgba(173, 173, 173, 0.2);
    border-radius: 13px;

}
.card_body{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px 25px;

}
.card-circle{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background: #E6533C;
    margin-right: 10px;
}













                                                